.footer {
    padding: 1.25rem;
    margin: 0 3.15rem;
    background-color: var(--main-gray);
    display: flex;
}

.footer__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.94rem;
}

.footer__info a {
    cursor: pointer;
}

.footer__info a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: var(--main-color);
}

@media screen and (max-width: 500px) {
    .footer {
        margin: 0;
        flex-direction: column;
        gap: 3.12rem;
    }
}
